html,
body {
  padding: 0;
  margin: 0;
box-sizing: border-box;
}

.tableborder{

  border: 1px solid rgb(160, 160, 160) !important;
}

/* .nav:hover{
  background-color: #63B3ED;
} */





@media (max-width: 600px) {
.flex-2{
flex-direction: column;
/* flex-wrap: wrap; */
align-items: center;
}
.Flex-1{
  margin: 20px 0px  ;
  align-items: center;
}
.fl-1 ul{
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  /* border: 1px solid black ; */
}


}

 /* pagination CSS */


 .paginationBtns {
  width: 100%;
  /* height: 40px; */
  list-style: none;
  display: flex;
  justify-content: center;
 
  margin-top: 40px;
  
}

.paginationBtns a {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #3182ce;
  color: #3182ce;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: white;
  background-color: #3182ce;
}

.paginationActive a {
  color: white;
  background-color: #3182ce;
}

.pagiantionDisabled a {
  display: none;
}



 /* pagination CSS */



